/* Base */
body,
html {
	margin: 0;
	padding: 0;
	color: #595567;
	line-height: 1.5;
	font-family: "Lato", "futura-pt", sans-serif;
	font-weight: 300;
	text-align: center;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 2rem;
}
img {
	max-width: 100%;
	height: auto;
}
/* Layout */
.page-width {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}
/* Vertical Rhythm */
p {
	margin-top: 0;
	margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 24px;
}
/* Typography */
h1, h2, h3 {
	font-weight: 700;
	color: #2f2650;
	line-height: 1.2;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 3.5rem;
}
h3 {
	font-size: 2.2rem;
}
.intro {
	font-size: 2.3rem;
}
/* Links */
a {
	color: #1c8d9d;
	text-decoration: none;
	/* underlines stolen from medium */
	background-image: linear-gradient(to bottom,#1c8d9d 50%,rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .1em;
    background-position: 0 1.08em;
}
a:hover {
	color: #255e7a;
}
/* Tables */
table {
	width: 100%;
	text-align: left;
	font-size: 2rem;
}
td {
	vertical-align: top;
	border: none;
	padding: 5px 8px;
}
.title-cell {
	font-weight: 500;
	color: #222;
	padding-left: 0;
	display: none;
}
.description-cell {
	padding-left: 0;
}
.accuracy-cell {
	padding-right: 0;
}
@media (min-width: 500px) {
	.title-cell {
		display: table-cell;
	}
	.description-cell {
		padding-left: 5px;
	}
}
/* Fancy shit */
hr {
	margin: 4em auto;
	width: 160px;
	border: none;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
	position: relative;
}
hr:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	width: 8px;
	height: 8px;
	background: #ccc;
	border: 2px solid #FFF;
	-webkit-transform: translate(-5px, -6px) rotate(45deg);
}
/* Hero */
.hero {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#153d42+0,0e2123+100 */
	background: rgb(25,156,169);
	background: -moz-linear-gradient(-30deg, rgba(25,156,169,1) 0%, rgba(54,0,51,1) 100%);
	background: -webkit-linear-gradient(-30deg, rgba(25,156,169,1) 0%,rgba(54,0,51,1) 100%);
	background: linear-gradient(150deg, rgba(25,156,169,1) 0%,rgba(54,0,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199ca9', endColorstr='#360033',GradientType=1 );
}
.hero-bg {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*background-image: url("images/inspiration-geometry.png")*/
}
.hero-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	/*padding: 9em 0 7.4em;*/
	z-index: 2;
}
.logo {
	display: inline-block;
	color: #FFF;
	font-size: 6rem;
	margin-bottom: 35px;
	background-image: linear-gradient(to bottom,#FFF 50%,rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .15em;
    background-position: 0 1.085em;
    position: relative;
    margin-top: 50px;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.logo:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: -50px;
	border: 20px solid transparent;
	border-top: 25px solid #FFF;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	filter: drop-shadow(0 0 8px rgba(0,0,0,0.5));
}
.lede {
	color: #FFF;
	font-size: 3.3rem;
	margin-left: 10px;
	margin-right: 10px;
	text-shadow: 0 0 15px rgba(0,0,0,1);
}
@media (max-width: 768px) {
	.logo {
		font-size: 4rem;
		margin-bottom: 22px;
	}
	.lede {
		font-size: 2.6rem;
	}
}
/* Main */
.main {
	padding: 4em 0;
	margin-top: 100vh;
	position: relative;
	background: #FFF;
	box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.content-section {

}
/* Articles */
.articles {
	max-width: 700px;
	padding: 20px;
	margin: 4em auto;
	background: rgb(25,156,169);
	background: -moz-linear-gradient(-45deg, rgba(25,156,169,1) 0%, rgba(54,0,51,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(25,156,169,1) 0%,rgba(54,0,51,1) 100%);
	background: linear-gradient(135deg, rgba(25,156,169,1) 0%,rgba(54,0,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199ca9', endColorstr='#360033',GradientType=1 );
	margin-left: -20px;
	margin-right: -20px;
}
.articles-inner {
	padding: 1.2em;
	background: #FFF;
}
@media (min-width: 500px) {
	.articles {
		margin-left: auto;
		margin-right: auto;
		padding: 16px;
	}
	.articles-inner {
		padding: 2em;
	}
}
.article {
	text-align: left;
	padding: 25px 0;
	font-size: 1.8rem;
	border-top: 1px solid #eee;
}
.article:first-child {
	border-top: none;
	padding-top: 6px;
}
.article-title {
	font-size: 2.2rem;
	font-weight: 400;
	margin-bottom: 8px;
	color: #24627d;
}
.article-summary p {
	margin-bottom: 8px;
}
.article-link {

}
/* Team */
.team {
	margin: 9rem 0;
}
.team--members {
	text-align: center;
}
.team-member {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
@media (max-width: 680px) {
	.team-member {
		width: 100%;
	}
}
.team-member--img {
	line-height: 0;
	border-radius: 100%;
	overflow: hidden;
	max-width: 200px;
	margin: auto;
	height: auto;
}
.team-member--body {
	max-width: 340px;
	margin: auto;
	padding: 3rem 0 0;
}
.team-member--title {
	margin-bottom: 1rem;
}
.team-member--subtitle {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
.team-member--sep {
	font-size: 90%;
	font-family: Arial, sans-serif;
	color: #999;
	display: inline-block;
	margin: 0 2px;
}
.team-member--bio {
	font-size: 1.8rem;
}
.team-member--social a {
	background: transparent;
	display: inline-block;
	margin: 0 2px;
	font-size: 2rem;
}